body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding-top: 80px;
    height: 2000px;
    padding-left: 5px;
    padding-right: 5px;
}

.header
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: black;
}

ul 
{
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
}

a 
{
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.header ul
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

a:hover 
{
    color: black;
    background-color:gray;

}

.quotes-section
{
    display: grid;
    width: auto;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    'quote quote quote intro-quotes intro-quotes'
    'quote quote quote about about';
    margin-bottom: 5px;
}

.quote
{
    grid-area: quote;
    width: 100%;
    background-size: contain;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
.intro-quotes
{
    grid-area: intro-quotes;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
.about
{
    grid-area: about;
    background-color: black;
    color: white;
    text-align: center;
    justify-items: center;
    align-content: center;
    border-radius: 5px;
    line-height: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
.author
{
    margin-top: 5px;
    font-style: italic;
}

.image-quotes
{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr)); 
    grid-gap: 5px;
}

.image-quotes img
{
    width: 100%;
    border-radius: 5px;
    
}


/* creatingg responsiveness for the head section */
@media all and (max-width:700px) 
{
    body
    {
        padding-top: 240px;
    }
    .header ul 
    {
        display: grid;
        grid-template-columns: 1fr;
    }
    .quotes-section
    {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        'quote quote quote intro-quotes intro-quotes'
        'quote quote quote about about';
    }
     
    .quote
    {
        grid-area: quote;
        width: 100%;
        height: 100%;
    }
    .intro-quotes
    {
        grid-area: intro-quotes;
        width: auto;
    }
    .about
    {
        grid-area: about;
        width: auto;
    }

}

@media all and (max-width: 600px)
{
    .quotes-section
    {
        display: grid;
        grid-template-columns:1fr;
        grid-row-gap: 5px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        'quote'
        'intro-quotes'
        'about';
    }

    .quote
    {
        width: 100%;
        height: 100%;
    }
    .intro-quotes
    {
        height: 100%;
        width: 100%; 
    }
    .about
    {
        width: 100%;
        height: 100%;
        padding-top: 5px;
    }
    .image-quotes
    {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .intro-quotes .message
    {
        margin: 15px;
    }
}




